<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style> 
    h1{
      font.size: 40px;
      text-align: center;
      color:rgb(100,100,100);
    }
    #banner{
      width: 100%;
      height: 360px;
      
    }

    h2{
      text-align: center;
      color:rgb(100,100,100);
    }
    p{
      color: rgb(0,80,200);
      text-align:center;
    }
    #container{
      max-width=720px;
      margin-left: 300px;
      margin-right: 300px;
      
    }
  
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Careers</title>
</head>

  <body>
    <div id="container">
      <h1 class="text-secondary-emphasis"><b>Sahil's Career</b></h1>
          
      
      <img id="banner" src="https://careers-website-flask.sahilshah12.repl.co/static/better_banner.jpg">
  
      <h2> About Sahil </h2>
      <p>Lolllllllllllllllllllllllllllllllllllllll
        llllllllllllllllllllllllllllllllllllllllllllllllll
        lllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
        lllllllllllllllllllllllllllllllllllllllllllllllllllll
      fejsfnejkfnejfnejkfnejknekjrgnre jgkermgjkerngjkregkrengergkjrengkjregmkrjegn jkrengkejgnjkengrekjrgnrejkgejkrrgnejkrgnkjr egnrekjgnrejkgnerjkgnrjekngkjerngjkerngerkjn gjkrengkjergnrkjengjkrengkjrengjkerngeioj foiwfoiewnfoiewn</p>
  
      <p> Show Jobs here</p>
      <div style="text-align:center;">
        <button>Contact us</button>
      </div>
    </div>
  </body>

  
</html>